@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.head_p {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0.75rem 0;
}

.side_p {
  font-size: 1.75rem;
  text-indent: 1rem;
}

footer a {
  display: block
}

.link-topic {
  font-size: 1.75rem;
  font-weight: bold;
}

footer div>a {
  font-size: 1.25rem;
}

footer p {
  font-size: 1.75rem;
  margin: 0.5rem 0;
}

/* @media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
} */

