@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #121712;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121712;
    --foreground: #ededed;
  --primary: #1E3A8A;
  --accent: #3B82F6;
  --profit: #10B981;
  --alert: #EF4444;
  --bg-light: #F3F4F6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.stock_facts > p{
margin: 0.5rem 0;
}

.head_p {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0.75rem 0;
}

.side_p {
  font-size: 1.75rem;
  text-indent: 1rem;
}

footer a {
  display: block;
}

.link-topic {
  font-size: 1.75rem;
  font-weight: bold;
}

footer div > a {
  font-size: 1.25rem;
}

footer p {
  font-size: 1.75rem;
  margin: 0.5rem 0;
}

/* @media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid white;
}
  */
